@{
    ViewData["Title"] = "Developer App";
}
<h1>@ViewData["Title"]</h1>

<p>Este app foi desenvolvido por: Luiz Henrique</p>

<br />
<p style="text-align:left"> Tecnologias utilizadas</p>
<ul style="text-align:left">
    <li>DotNetCore 3.1</li>
    <li>SQL Server</li>
    <li>Bootstrap</li>
    <li>JQuery</li>
    <li>EntityFramework</li>
    <li>Padrão MVC</li>
</ul>